<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ADD.Properties.Settings.BD_healthConnectionString"
            connectionString="Data Source=heals.database.windows.net;Initial Catalog=BD_health;Persist Security Info=True;User ID=primestud;Password=!prime12345"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>